*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

/bin/
/build/
/dist/
/cmd/**/bin/
/*.exe
*.log

vendor/

.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

.env
*.env

docs/*
!docs/.keep

*.pid
*.tar
docker-compose.override.yml

*.cover
*.coverprofile
coverage.out

migrations/*.backup

/tmp/
.cache/
